<layout title="Contact" active="contact">
  <card title="Nous contacter">
    <p>Email : <a href="https://github.com/dlhoumaudsafti/ocara" target="_blank">hello@ocara-lang.dev</a></p>
    <p>GitHub : <a href="https://github.com/dlhoumaudsafti/ocara" target="_blank">https://github.com/dlhoumaudsafti/ocara</a></p>
  </card>
  <card title="Signaler un bug">
    <p>Ouvrir une issue sur le depot GitHub.</p>
    <p>Merci de preciser la version du compilateur et le code minimal reproducible.</p>
  </card>
</layout>